AI_BASE_URL = 'https://llm-94neuwdgxwyc7tm1.cn-beijing.maas.aliyuncs.com/compatible-mode/v1'
AI_API_KEY = 'sk-ws-H.EPIDIHX.pMPF.MEUCIA2nIrcwHMLgk2gA8tCOdyLljdasLfWJNoFeWyvSmxCGAiEAq0X041eMLrEM9ybZyUhrlSAntDxEB3ANjF2-p7gfxeU'
AI_MODEL = 'qwen3.7-plus'
